<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% if @trainer == current_trainer %>
  <%= button_to "Create a Pokemon!", new_pokemon_path, :class => "button small", :method => :get %>
<% end %>

<h4> Pokemon caught </h4>
<% @trainer.pokemons.each do |pokemon| %>
  <p> <%= pokemon.name %>, Level <%= pokemon.level %>, Health: <%= pokemon.health %> </p>
  <%= button_to "Damage!", damage_path(id: pokemon), :class => "button small", :method => :patch %>
<% end %>
